.buttoncss {
    font-family: "Tahoma", "ו";
    font-size: 9pt; color: #003399;
    border: 1px #003399 solid;
    color:006699;
    BORDER-BOTTOM: #93bee2 1px solid;
    BORDER-LEFT: #93bee2 1px solid;
    BORDER-RIGHT: #93bee2 1px solid;
    BORDER-TOP: #93bee2 1px solid;
    background-color: #ffffff;
    CURSOR: hand;
    font-style: normal ;
}

.inputcss {  
    font-size: 9pt;
    font-family: "ו";
    font-style: normal;
    BORDER-BOTTOM: #93bee2 1px solid;
    BORDER-LEFT: #93bee2 1px solid;
    BORDER-RIGHT: #93bee2 1px solid;
    BORDER-TOP: #93bee2 1px solid;
}
.selectcss {  
    font-size: 9pt;
    font-family: "ו";
    background:#93bee2; 
}